body {
  background-color: brown;
}
img {
  opacity: 0.7;
  width: 225px;
  height: 75px;
  border-radius: 20px;
}
head > img {
  display: inline-block;
  opacity: 1;
}
h1 {
  text-align: center;
  width: 600px;
  display: inline-block;
  font-size: 80px;
}

header {
  font-family: 'Lilita One', cursive;
  font-size: 30px;
  border-style: solid;
  border-color: teal;
  border-width: 2px;
  border-radius: 20px;
  width: 1060px;
}
header.blocktext {
  margin-left: auto;
  margin-right: auto;
}
td {
  text-align: center;
  border: 2px black solid;
}
label, input {
  display: block;
}
h2 {
  font-size: 30px;
  text-decoration: underline;
}
div {
  padding: 5px;
  margin: 20px;
  float: left;
  border-color: turquoise;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 300px;
  background-color: rgb(255, 182, 174);
  height: 250px;
}
#div-image {
  width: 300px;
  height: auto;
  opacity: 1;
}
#div2 {
  background-image: url("/img/fish.jpg");
  font-size: 25px;
  text-shadow: 4px 4px 8px white;
  font-style: bold;
}
.images {
  width: 1000px;
  height: 200px;
  background-color: saddlebrown;
}
.images > img {
  height: 200px;
  width: 247px;
  opacity: 1;
}
.div3 > ul > li {
font-size: 20px;
font-family: 'Ubuntu', sans-serif;
}
table {
  font-family: "Times New Roman", Times, serif;
  border: 1px solid black;
  background-color: saddlebrown;
}
form {
  border: 3px solid black;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(182, 91, 26);
}